@import 'bulma/bulma';

html, body {
  font-family: "Open Sans", serif;
  background: #ECF0F3;
}

#map {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 25rem;
}

.hero {
  background-image: url(https://picsum.photos/id/381/1920/1080);
  background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)), rgba(0, 0, 0, 0.55) url("https://picsum.photos/id/381/1920/1080") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Poppins', sans-serif;
}