<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
       <%= render 'search' %>
       <%= render 'list' %>
      </div>
      <div class="column">
        <div id='map'></div>
      </div>
    </div>
  </div>
</section>

<script>
    mapboxgl.accessToken = "<%= Rails.application.credentials.geocoder[:api_key]%>";
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [110.33411, -7.88461],
        zoom: 9
    });
    // var marker = new mapboxgl.Marker()
    //     .setLngLat([110.33411, -7.88461]) // [lng, lat] coordinates to place the marker at
    //     .addTo(map); // add the marker to the map

    map.on('load', function(e) {
        // Add the data to your map as a layer
        map.addLayer({
            id: 'locations',
            type: 'symbol',
            // Add a GeoJSON source containing place coordinates and information.
            source: {
                type: 'geojson',
                data: <%= @geojson.to_json.html_safe %>
            },
            layout: {
                'icon-image': 'marker-11',
                "icon-size": 5,
                'icon-allow-overlap': true,
            }
        });
    });
</script>


