<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
       <%= render 'list' %>
      </div>
      <div class="column">
        <div id='map'></div>
      </div>
    </div>
  </div>
</section>

<script>
    mapboxgl.accessToken = "<%= Rails.application.credentials.geocoder[:api_key]%>";
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: <%= @center %>,
        zoom: 7
    });

    var stores = <%= @geojson.to_json.html_safe %>
    map.on('load', function(e) {
        // Add the data to your map as a layer
        map.addLayer({
            id: 'locations',
            type: 'symbol',
            // Add a GeoJSON source containing place coordinates and information.
            source: {
                type: 'geojson',
                data: stores
            }
        });
    });

    stores.features.forEach(function(marker) {
        var popup = new mapboxgl.Popup()
            .setText(marker.properties.address);

        new mapboxgl.Marker()
            .setLngLat(marker.geometry.coordinates)
            .setPopup(popup)
            .addTo(map);
    });
</script>


